.App {
  font-family: 'Noto Serif JP';
}

.App-header {
  text-align: left;
  color: rgb(00, 1E, 2B);
  justify-content: center;
}


.nav-link {
  color: green;
}



.App-link {
  color: #001E2B;
}

.error {
  color: red;
}