* {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
[type='checkbox'],[type='radio']  {
  width: 200px !important;
  height: 200px !important;
  margin: 80px !important;
  background-image: none !important;
  border: 1px solid rgb(0, 0, 0) !important;
}



input[value="red"]{ background-color: #ff4136 !important;}
input[value="blue"]{ background-color: #0074d9!important;}
input[value="white"]{ background-color: #FFFFFF !important;}


@tailwind base;
@tailwind components;
@tailwind utilities;
